body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-p7);
}

main {
    padding-top: 95px;
}

html {
  scroll-behavior: smooth;
}

h1,
ul,
p,
dd{
    margin: 0px;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

span {
    color: var(--cor-p1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;    
}

.whatsapp-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.whatsapp-fixo img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s;
    
}

.whatsapp-fixo img:hover {
    transform: scale(1.1);
}





