
.sobre-bg {
    background: var(--cor-j1);
    position: relative;
}

#sobremim {
  scroll-margin-top: 90px;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;
    position: relative;
}

.faixa-subtitulo {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--cor-p0);
    z-index: 0;
    top: 10.5rem;
}

.subtitulo {
    position: relative;
    grid-column: 1;
    margin-bottom: 40px;
}

.sobreMim-texto {
    grid-column: 1;
}

.sobreMim-texto p {
    margin-bottom: 24px;
}

.sobreMim-imagem {
    position: relative;
    grid-column: 2;
    grid-row: 2 / span 3;
    
}

.sobreMim-imagem img {
    margin-bottom: 40px;
    margin-top: 40px;
    aspect-ratio: 560 / 860;
    border-radius: 5px;
    object-fit: cover;
}

@media (min-width: 1600px) {
    .sobre-bg::before {
        content: "";
        display: block;
        width: 110.72px;
        height: 110.22px;
        background: url(../img/icones/detalhe.svg) no-repeat;
        position: absolute;
        bottom: -8vh;
        left: 10vw;
    }
}


@media (max-width: 1200px){
    .sobre{
        grid-template-columns: repeat(2, 1fr);
        gap: 0 24px;
    }

    .sobre-bg::before{
        display: none;
    }

    .faixa-subtitulo {
        top: 9rem;
    }

    .sobreMim-imagem img {
        max-width: 100%;
    }

}

@media (max-width: 812px) {
    .faixa-subtitulo {
        top: 10.5rem;
    }
}

@media (max-width: 800px){
    .sobre {
        grid-template-columns: 1fr;
    }

    .sobre-bg::before{
        display: none;
    }

    .subtitulo,
    .sobreMim-texto,
    .sobreMim-imagem {
        grid-column: 1;
        grid-row: auto;
    }

    .faixa-subtitulo {
        top: 7.5rem;
        height: 100px;
    }

    .subtitulo {
        margin-bottom: 20px;
    }

    .sobreMim-texto {
        margin-bottom: 20px;
    }

    .sobreMim-imagem img{    
        max-width: 70vw;
        max-height: 50vh;
        width: auto;
        height: auto;
        display: block;
        margin:  0 auto;
               
    }

    .sobreMim-texto p {
        margin-bottom: .75rem;
    }
}


@media (max-width: 500px) {
    .faixa-subtitulo {
        top: 7rem;
        height: 150px;
    }

    #sobremim {
        scroll-margin-top: 150px;
    }
}


@media (max-width: 400px) {
    #sobremim {
        scroll-margin-top: 200px;
    }
}
